@charset "UTF-8";
.icon {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}

.icon.arrow-fill {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__bottom {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__right {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__white {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-fill__gray {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-fill__dgray {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-round {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-back {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-top {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-left {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-first {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-last {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon.arrow-prev {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}

.icon.arrow-next {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon.arrow-right {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-more {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.close {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}

.icon.close_big {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.row {
  margin: 0;
}

.floatNo {
  float: none !important;
}

.floatR {
  float: right !important;
}

.floatL {
  float: left !important;
}

.bg--white {
  background-color: #fff;
}

.bg--gray {
  background-color: #f8f8fa;
}

/* parts:width */
.w_100 {
  width: 100% !important;
}

.w_95 {
  width: 75% !important;
}

.w_85 {
  width: 75% !important;
}

.w_75 {
  width: 75% !important;
}

.w_50 {
  width: 50% !important;
}

.w_45 {
  width: 45% !important;
}

.w_48 {
  width: 48%;
}

.w_25 {
  width: 25% !important;
}

.w_auto {
  width: auto !important;
}

.w_titan {
  width: 80rem !important;
}

.w_xlarge {
  width: 70rem !important;
}

.w_wide {
  width: 50rem !important;
}

.w_xlarge {
  width: 40rem !important;
}

.w_slarge {
  width: 30rem !important;
}

.w_large {
  width: 25rem !important;
}

.w_fit {
  width: 20rem !important;
}

.w_medium {
  width: 15rem !important;
}

.w_normal {
  width: 14rem !important;
}

.w_small {
  width: 10rem !important;
}

.w_tiny {
  width: 5rem !important;
}

.w_17r {
  width: 17rem !important;
}

.color-red {
  color: #CA1C1D !important;
}

.color-lightpink {
  color: #fcedf4 !important;
}

.color-deeppink {
  color: #c41a66 !important;
}

.color-black {
  color: #000 !important;
}

.color-fontgray {
  color: #747478;
}

.color-lightgray {
  color: #dddddd;
}

.color-gray {
  color: #747478;
}

.color-white {
  color: #fff !important;
}

.color-blue {
  color: #2024dc !important;
}

.color-cherryRed {
  color: #f7592a !important;
}

.color-orange {
  color: #f7592a;
}

.font-family__sn {
  font-family: "SeoulNamsan";
}

.font-weight__l {
  font-weight: 200;
}

.font-weight__r {
  font-weight: 300 !important;
}

.font-weight__rm {
  font-weight: 400;
}

.font-weight__m {
  font-weight: 500 !important;
}

.font-weight__b {
  font-weight: 600 !important;
}

.mg-0 {
  margin: 0 !important;
}

.ml_5 {
  margin-left: .5rem;
}

.mr_5 {
  margin-right: .5rem;
}

.mt_5 {
  margin-top: .5rem;
}

.mt_10 {
  margin-top: 1rem;
}

.ml_10 {
  margin-left: 1rem !important;
}

.mr_10 {
  margin-right: 1rem !important;
}

.mb_10 {
  margin-bottom: 1rem;
}

.mb_15 {
  margin-bottom: 1.5rem;
}

.mt_15 {
  margin-top: 1.5rem;
}

.mr_15 {
  margin-right: 1.5rem !important;
}

.mt_20 {
  margin-top: 2rem;
}

.mb_20 {
  margin-bottom: 2rem;
}

.ml_20 {
  margin-left: 2rem !important;
}

.mr_20 {
  margin-right: 2rem;
}

.mt_25 {
  margin-top: 2.5rem;
}

.mr_25 {
  margin-right: 2.5rem;
}

.ml_30 {
  margin-left: 3rem;
}

.mt_30 {
  margin-top: 3rem !important;
}

.mb_30 {
  margin-bottom: 3rem;
}

.mt_35 {
  margin-top: 3.5rem;
}

.mt_40 {
  margin-top: 4rem !important;
}

.ml_40 {
  margin-left: 4rem;
}

.mt_45 {
  margin-top: 4.5rem;
}

.ml_45 {
  margin-left: 4.5rem;
}

.ml_50 {
  margin-left: 5rem;
}

.ml_60 {
  margin-left: 6rem;
}

.mt_50 {
  margin-top: 5rem;
}

.mb_40 {
  margin-bottom: 4rem;
}

.mb_50 {
  margin-bottom: 5rem !important;
}

.mt_60 {
  margin-top: 6rem;
}

.mt_80 {
  margin-top: 8rem;
}

.ml_80 {
  margin-left: 8rem;
}

.mt_90 {
  margin-top: 9rem;
}

.mt_100 {
  margin-top: 10rem;
}

.mt_120 {
  margin-top: 12rem;
}

.my_4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx_2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.pl_10 {
  padding-left: 10px;
}

.pd_0 {
  padding: 0 !important;
}

.pd_1 {
  padding: 1rem;
}

.pd_2 {
  padding: 2rem;
}

.pd_3 {
  padding: 3rem;
}

.pd_4 {
  padding: 4rem;
}

.pd_5 {
  padding: 5rem;
}

.pd_6 {
  padding: 6rem;
}

.px_1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px_3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px_4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px_5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px_6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py_5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py_6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py_9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py_9:last-child {
  padding-bottom: 0;
}

.pt_0 {
  padding-top: 0 !important;
}

.pt_1 {
  padding-top: 1rem;
}

.pt_2 {
  padding-top: 2rem;
}

.pt_3 {
  padding-top: 3rem;
}

.pt_4 {
  padding-top: 4rem;
}

.pt_5 {
  padding-top: 5rem;
}

.pt_9 {
  padding-top: 9rem;
}

.pr_0 {
  padding-right: 0 !important;
}

.pr_1 {
  padding-right: 1rem;
}

.pr_2 {
  padding-right: 2rem;
}

.pr_3 {
  padding-right: 3rem;
}

.pr_4 {
  padding-right: 4rem;
}

.pr_5 {
  padding-right: 5rem;
}

.pb_0 {
  padding-bottom: 0 !important;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pb_4 {
  padding-bottom: 4rem;
}

.pb_5 {
  padding-bottom: 5rem;
}

.pl_0 {
  padding-left: 0 !important;
}

.pl_1 {
  padding-left: 1rem;
}

.pl_2 {
  padding-left: 2rem;
}

.pl_3 {
  padding-left: 3rem;
}

.pl_4 {
  padding-left: 4rem;
}

.pl_5 {
  padding-left: 5rem;
}

.pb_100 {
  padding-bottom: 10rem;
}

.font_30 {
  font-size: 3rem;
  line-height: 3.2rem;
}

.header__inner .rooftop__inner, .header__inner .gnb__inner, .footer__inner > div > div, .footer__inner .site-menu__inner {
  max-width: 160rem;
}

/* 공통 */
html {
  font-size: 62.5%;
  font-weight: 300;
  letter-spacing: -0.25px;
}

p {
  font-size: 2rem;
  color: #000000;
}

p.font-s {
  font-size: 1.8rem;
}

.font-l {
  font-size: 2.6rem !important;
}

.font-m {
  font-size: 2.4rem !important;
}

.font-ms {
  font-size: 2.2rem !important;
}

.font-ls {
  font-size: 2rem !important;
}

.font-s {
  font-size: 1.8rem !important;
}

.font-xs {
  font-size: 1.6rem !important;
}

.font-tiny {
  font-size: 1.2rem !important;
}

.wrap {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.2rem;
}

h1 .caption {
  display: block;
  font-size: 1.7rem;
  color: #747478;
}

h2 {
  font-size: 3rem;
}

h2 .caption {
  display: block;
  font-size: 1.7rem;
  color: #747478;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

/* 부트스트랩 초기화 */
body {
  color: #000000;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

button {
  background: #ffffff;
}

p {
  margin-bottom: 0;
}

/* header */
.header__inner .rooftop {
  height: 7.1rem;
  border-bottom: 1px solid #e5e7ee;
}

.header__inner .rooftop__inner {
  height: 100%;
  margin: 0 auto;
}

.header__inner .rooftop__inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid #e5e7ee;
}

.header__inner .rooftop__inner > div:first-child {
  padding: 0 2rem;
}

.header__inner .rooftop__inner > div .mailing button.btn-mailing img {
  width: 2.8rem;
  height: 2.4rem;
}

.header__inner .rooftop__inner > div .search button.btn-search img {
  width: 2.4rem;
  height: 2.4rem;
}

.header__inner .rooftop .user-join ul li {
  position: relative;
}

.header__inner .rooftop .user-join ul li + li::before {
  position: absolute;
  top: .4rem;
  width: 1px;
  height: 1.3rem;
  background: #dddddd;
  content: "";
}

.header__inner .rooftop .user-join ul li a {
  padding: 0 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #010101;
}

.header__inner .rooftop .sns {
  padding: 0 2rem;
  background: #f8f8fa;
}

.header__inner .rooftop .sns ul li a {
  padding: 0 1rem;
}

.header__inner .rooftop .user-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.header__inner .rooftop .user-area > div + div {
  border-left: 1px solid #e5e7ee;
}

.header__inner .rooftop .user-area button {
  width: 7rem;
  height: 100%;
  background: none;
}

.header__inner .rooftop .user-area button.on {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.header__inner .rooftop .user-area button.on img {
  display: none;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content .search-right > div {
  margin: 0;
  height: 50px;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content .search-right .select {
  width: 132px;
  border-bottom: 2px solid #000000;
  font-size: 1.8rem;
  line-height: 100%;
  background: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E") no-repeat right 10px center;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content .search-right .select option {
  font-size: 1.8rem;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content .search-right .form-search {
  height: 50px;
  border-bottom-width: 2px;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content .search-right .form-search input {
  height: 100%;
  font-size: 1.8rem;
}

.header__inner .rooftop .user-area button.btn-search + .user-area__content ul li a {
  font-size: 1.7rem;
  line-height: 3.2rem;
}

.header__inner .rooftop .user-area__content {
  display: none;
  position: absolute;
  top: 6.7rem;
  right: 0;
  width: 600px;
  padding: 40px;
  background: #ffffff;
  border: 1px solid #e5e7ee;
  z-index: 2;
}

.header__inner .rooftop .user-area__content .title {
  margin-bottom: 18px;
  font-size: 1.8rem;
  font-weight: 600;
}

.header__inner .rooftop .user-area__content .form-wrap {
  position: relative;
  border-bottom: 2px solid #000000;
}

.header__inner .rooftop .user-area__content .form-wrap:nth-of-type(1) {
  width: 33%;
}

.header__inner .rooftop .user-area__content .form-wrap:nth-of-type(2) {
  width: 67%;
}

.header__inner .rooftop .user-area__content .form-wrap input::-webkit-input-placeholder {
  font-size: 1.7rem;
  color: #747478;
}

.header__inner .rooftop .user-area__content .form-wrap input:-ms-input-placeholder {
  font-size: 1.7rem;
  color: #747478;
}

.header__inner .rooftop .user-area__content .form-wrap input::-ms-input-placeholder {
  font-size: 1.7rem;
  color: #747478;
}

.header__inner .rooftop .user-area__content .form-wrap input::placeholder {
  font-size: 1.7rem;
  color: #747478;
}

.header__inner .rooftop .user-area__content .form-wrap .button-click {
  position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
}

.header__inner .rooftop .user-area__content .form-wrap .button-click i {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  background: url(../image/common/icon/icon-mailadd.png) no-repeat center;
}

.header__inner .rooftop .user-area__content .txt {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.header__inner .gnb {
  position: relative;
}

.header__inner .gnb::before {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #e5e7ee;
  content: "";
}

.header__inner .gnb__inner {
  margin: 0 auto;
  height: 10.7rem;
}

.header__inner .gnb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.header__inner .gnb-menu .depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.header__inner .gnb-menu .depth1 > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.header__inner .gnb-menu .depth1 > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.header__inner .gnb-menu .depth1 > ul li.on > a {
  color: #CA1C1D;
}

.header__inner .gnb-menu .depth1 > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  font-size: 2.1rem;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__inner .gnb-menu .depth1 > ul li a:hover {
  color: #CA1C1D;
}

.header__inner .gnb-menu .depth1 > ul li .depth2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 10.7rem;
  left: 0;
  width: 100%;
  height: 0;
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.header__inner .gnb-menu .depth1 > ul li .depth2.on {
  height: 7rem;
  overflow: visible;
}

.header__inner .gnb-menu .depth1 > ul li .depth2 li a {
  font-size: 1.7rem;
  font-weight: 500;
}

.header__inner .gnb .notice {
  height: 100%;
}

.header__inner .gnb .notice__inner {
  width: 475px;
  height: 100%;
}

.header__inner .gnb .notice-txt {
  display: 100%;
}

.header__inner .gnb .notice-txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.header__inner .gnb .notice .icon-notice {
  display: block;
  width: 2.2rem;
  height: 1.8rem;
  background: url(../image/common/icon/icon-notice.png) no-repeat center;
  background-size: cover;
}

.header__inner .gnb .notice .swiper-container {
  position: relative;
  height: 100%;
  padding-right: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__inner .gnb .notice .swiper-slide {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__inner .gnb .notice .swiper-slide > * > * {
  font-size: 1.6rem;
}

.header__inner .gnb .notice .swiper-arrow {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 70px;
  height: 22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__inner .gnb .notice .swiper-button-next, .header__inner .gnb .notice .swiper-button-prev {
  position: unset;
  width: 9px;
  height: 6px;
  margin: 0;
}

.header__inner .gnb .notice .swiper-button-next::after, .header__inner .gnb .notice .swiper-button-prev::after {
  content: "";
}

.header__inner .gnb .notice .swiper-button-next {
  background: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%230' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E") no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__inner .gnb .notice .swiper-button-prev {
  background: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%230' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E") no-repeat;
}

.header__inner .gnb .notice .name {
  margin-right: 8px;
}

/* footer */
.footer__inner {
  border-top: 1px solid #8a8a8a;
}

.footer__inner > div > div {
  margin: 0 auto;
}

.footer__inner .banner {
  padding: 2rem 0;
  border-top: 2px solid #8c8c8c;
  background: #f8f8fa;
}

.footer__inner .banner__inner p {
  width: 14rem;
  padding-left: 30px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.footer__inner .banner__inner .slide-banner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(100% - 14rem);
}

.footer__inner .banner__inner .slide-banner .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__inner .banner__inner .slide-banner .swiper-slide .img-wrap img {
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer__inner .site-menu {
  border-top: 1px solid #dddddd;
}

.footer__inner .site-menu__inner {
  height: 7rem;
  margin: 0 auto;
  padding-left: 30px;
}

.footer__inner .site-menu ul {
  height: 100%;
  margin: 0 -17.5px;
}

.footer__inner .site-menu ul li {
  padding: 0 17.5px;
}

.footer__inner .site-menu ul li a {
  font-size: 1.6rem;
  font-weight: 300;
  color: #747478;
}

.footer__inner .thinkgood-info {
  border-top: 1px solid #dddddd;
}

.footer__inner .thinkgood-info__inner {
  position: relative;
  padding: 60px 0 95px 30px;
}

.footer__inner .thinkgood-info__inner > div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.footer__inner .thinkgood-info-txt {
  margin: -7.5px;
  padding-left: 50px;
}

.footer__inner .thinkgood-info-txt > * {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -.7px;
}

.footer__inner .thinkgood-info-txt > * > * {
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__inner .thinkgood-info-txt p {
  padding: 7.5px;
}

.footer__inner .thinkgood-info-txt p.copyright {
  position: absolute;
  bottom: 50px;
  padding-bottom: 0;
}

/* content */
.winger {
  position: fixed;
  top: 197px;
  right: 0;
  z-index: 2;
}

.winger-list {
  position: relative;
  border-radius: 3px;
  border: none;
}

.winger-list > div {
  border-radius: .3rem;
}

.winger-list > div + div:not(.winger-content__wrap) {
  margin-top: .4rem;
}

.winger-list button {
  width: 6.5rem;
  height: 6.5rem;
  border: 1px solid #e5e7ee;
  background-color: #f8f8fa;
}

.winger-list button + button {
  margin-top: .5rem;
}

.winger-list button span {
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.winger-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.winger-list > div i {
  margin: 0 auto;
  background-position: center;
}

.winger-list > div:not(.top) {
  background: #f8f8fa;
  border-bottom: none;
}

.winger-list > div.fast-link i {
  display: block;
  width: 3.1rem;
  height: 3.3rem;
  background: url(../image/common/icon/icon__fast-link.png) no-repeat center center;
  background-size: cover;
}

.winger-list > div.scrap-link i {
  display: block;
  width: 3.1rem;
  height: 2.8rem;
  background: url(../image/common/icon/icon__like-link.png) no-repeat center center;
  background-size: contain;
}

.winger-list > div.btn-top i {
  display: block;
  width: 13px;
  height: 18px;
  background: url(../image/common/icon/icon__top.png) no-repeat 0 0;
  background-size: cover;
}

.winger-list > div.btn-top span {
  font-size: 1.3rem;
}

.winger-content {
  display: none;
  position: absolute;
  top: 0;
  right: -300px;
  width: 280px;
  background: #ffffff;
  border: 1px solid #e5e7ee;
  border-radius: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.winger-content.current {
  display: block;
  right: 70px;
  z-index: -1;
}

.winger-content i.fast-link {
  display: block;
  width: 23px;
  height: 21px;
  background-image: url(../image/common/icon/icon__fast-link.png);
  background-size: cover;
}

.winger-content i.scrap-link {
  display: block;
  width: 23px;
  height: 22px;
  background: url(../image/common/icon/icon__like-link.png) no-repeat 0 0;
  background-size: contain;
}

.winger-content__header {
  height: 50px;
  padding: 0;
  padding-left: 20px;
  border-bottom: 1px solid #e5e7ee;
}

.winger-content__header .tit {
  margin-left: 10px;
  font-size: 1.5rem;
}

.winger-content__header .button-close {
  width: 50px;
  height: 100%;
  background: #f8f8fa url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E") no-repeat center;
  background-size: 13px 13px;
  border-left: 1px solid #e5e7ee;
}

.winger-content__body {
  height: 430px;
  padding-top: 20px;
  padding-bottom: 0;
  background: #f8f8fa;
}

.winger-content__body > * {
  height: 100%;
  padding-bottom: 40px;
}

.winger-content__body .swiper-wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.winger-content__body .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.winger-content__body .img-wrap img {
  max-width: 100%;
  max-height: 100%;
}

.winger-content__body .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3.4rem;
  height: 6.8rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: auto;
  margin-left: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.winger-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e5e7ee;
  background: #ffffff;
  z-index: 1;
}

.winger-arrow .swiper-button-prev, .winger-arrow .swiper-button-next {
  position: unset;
  margin: 0;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.winger-arrow .swiper-button-prev::after, .winger-arrow .swiper-button-next::after {
  content: "";
}

.winger-arrow .swiper-button-prev {
  border-right: 1px solid #e5e7ee;
  background: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23e5e7ee' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E") no-repeat center;
}

.winger-arrow .swiper-button-next {
  background: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23CA1C1D' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* modal 모달 */
.modal-open {
  overflow: hidden !important;
}

.modal-content {
  border: none;
  width: 100%;
  min-width: 48rem;
  height: 100%;
  margin: 0 auto;
  padding: 6rem;
}

.modal-content.w-m {
  width: 80rem;
  max-height: 80%;
  height: auto;
}

.modal-content.w-m .modal-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 17.5rem;
  height: 17.5rem;
}

.modal-content.w-m .modal-header .button__icon-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
}

.modal-content.w-m .modal-header .button__icon-close i {
  width: 100%;
  height: 100%;
  background: url(../image/icon/icon-modal__close.png);
  background-size: cover;
}

.modal-content.w-m .modal-title {
  position: unset;
  -webkit-transform: none;
          transform: none;
  margin: 0;
  text-align: center;
}

.modal-content.w-m .modal-title + p {
  margin-top: 1rem;
}

.modal-content.w-m .modal-body {
  position: unset;
  border-radius: 0 !important;
  padding: 5rem;
  overflow-y: scroll;
}

.modal-dialog {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.modal-dialog.pop {
  max-width: 100%;
  margin: 0 2rem;
}

.modal-dialog.pop .modal-content {
  height: auto;
  background: transparent;
}

.modal-dialog.pop .modal-content .modal-body {
  position: unset;
  min-height: auto;
  left: 2rem;
  border-radius: .75rem;
}

.modal-header {
  width: 100%;
  padding: 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e7ee;
  background: #fff;
}

.modal-header button {
  margin: 0;
}

.modal-header button.button__icon-close {
  position: absolute;
  right: 3.5rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.modal-header h5 {
  position: absolute;
  left: 50%;
  width: auto;
  margin-top: 0;
  font-size: 3.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-header h6 {
  font-size: 3rem;
  font-weight: 500;
}

.modal-body {
  padding: 4rem 0;
}

.modal-body h5 {
  margin-bottom: 3rem;
  font-weight: 500;
}

.modal-footer {
  padding: 0;
  border-top: none;
}

.modal .close, .modal .close:not(:disabled):not(.disabled):focus, .modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  margin: 0;
}

.modal-open {
  padding-right: 0 !important;
}

.modal.nobg {
  padding: 0 2rem !important;
  background: transparent;
}

.modal.nobg .modal-content {
  border-radius: 0.75rem;
}

.modal.nobg .modal-body {
  padding: 7.5rem 0 0 0;
}

.modal.nobg h2 {
  padding: 0;
  font-size: 3.5rem;
  font-weight: 600;
  color: #000;
}

.modal.nobg h2 + p {
  margin-top: 2.5rem;
  margin-bottom: 7.5rem;
}

.modal.nobg p {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.modal .pop__inner {
  padding: 5rem;
}

.modal .pop__inner h5 {
  font-weight: 500;
}

.modal .pop__inner p {
  line-height: normal;
}

.modal-select .button-wrap {
  border-top: none;
}

/* button 버튼 */
.button-wrap {
  margin: -2.5px;
  font-size: 0;
}

.button-wrap button {
  margin: 2.5px;
  border: 1px solid #e5e7ee;
  font-weight: 500;
}

.button-wrap button.btn-red {
  color: #ffffff;
  background: #CA1C1D;
  border: none !important;
}

.button-wrap button.btn-excelDown {
  border: 1px solid #6e971a;
  color: #6e971a;
}

.button-darkgray {
  width: 10.7rem;
  padding: 0 !important;
  background: #474747;
  color: #ffffff;
  border: none !important;
}

.button-red {
  color: #ffffff;
  background: #CA1C1D;
  border: none !important;
}

.button-list {
  width: 10.7rem;
  background: #a59b99;
  color: #ffffff;
  border: none !important;
}

.button-modify {
  background: #f8f8fa;
}

.button-comment {
  background: #606060;
  color: #ffffff;
  border: none !important;
}

.button-black {
  height: 4rem !important;
  border-color: #000000 !important;
  color: #000000;
}

/* icon 아이콘 */
.icon.plus {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../image/common/icon/icon-plus.png);
  background-size: contain;
  margin-left: 2px;
}

.icon.plus.on {
  background-image: url(../image/common/icon/icon-minus.png);
}

/* ul */
ul.list-dashed {
  position: relative;
}

ul.list-dashed li {
  position: relative;
  padding-left: 1rem;
  font-size: 2rem;
  color: #78838c;
  line-height: 3rem;
}

ul.list-dashed li::before {
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: .5rem;
  height: .1rem;
  background: #78838c;
  content: "";
}

ul.lists li {
  position: relative;
  padding-left: 1rem;
}

ul.lists li + li {
  margin-top: 1rem;
}

ul.lists li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

ul.lists.bar li:before {
  content: "-";
}

ul.lists.num {
  counter-reset: num;
}

ul.lists.num li {
  padding-left: 2rem;
  font-size: 1.8rem;
  color: #000;
}

ul.lists.num li:before {
  counter-increment: num;
  content: counter(num) ". ";
}

.ul-lists > li {
  position: relative;
}

.ul-lists--bar > li {
  padding-left: 1.5rem;
}

.ul-lists--bar > li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
}

/* checkbox */
.form-check {
  position: relative;
  padding-left: 0;
}

.form-check.table-check input[type='checkbox'] + label {
  position: initial;
}

.form-check.table-check input[type='checkbox'] + label:before {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form-check.check-all input[type='checkbox'] + label {
  color: #000;
}

.form-check.same-booker input[type='checkbox'] + label::before {
  margin-top: .3rem;
}

.form-check input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-check input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  padding-left: 3.3rem;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.7rem;
}

.form-check input[type='checkbox'] + label p, .form-check input[type='checkbox'] + label span {
  font-size: 1.7rem;
  font-weight: 400;
}

.form-check input[type='checkbox'] + label::before {
  position: absolute;
  left: 0;
  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 2.2rem;
  /* 체크박스의 너비를 지정 */
  height: 2.2rem;
  /* 체크박스의 높이를 지정 */
  margin: -.3rem .8rem 0 0;
  text-align: center;
  vertical-align: middle;
  border: .1rem solid #ddd;
  border-radius: 0.3rem;
  background-color: #fff;
}

.form-check input[type='checkbox']:checked + label {
  color: #000;
}

.form-check input[type='checkbox']:checked + label::before {
  /* 체크박스를 체크했을때 */
  content: '';
  /* 체크표시 유니코드 사용 */
  background: #fff url(../image/common/icon/icon-check.png) no-repeat center center;
  background-size: 1.3rem 1rem;
  border-color: #000000;
}

.form-check input[type='checkbox']:focus + label:before {
  border: 1px solid #000;
}

/* select 셀렉트 영역 스타일 */
.select-custom {
  position: relative;
  line-height: 8.1rem;
  border-radius: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #cccccc;
  border: .1rem solid #ced4da;
  background: #fff;
}

.select-custom + .select-custom {
  margin-top: 2rem;
}

.select-custom span.selected-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  background: url(../image/icon-select.png) no-repeat;
  background-position: right 3rem center;
  background-size: 2.1rem 1.5rem;
  padding-left: 3rem;
}

.select-custom span.selected-option i {
  display: inherit;
  margin-right: 2.5rem;
}

.select-custom span.selected-option em {
  font-size: 2.8rem;
  font-weight: 600;
}

.select-custom.on:not(.select-modal) {
  height: auto;
}

.select-custom.on:not(.select-modal) span.selected-option {
  border-bottom: 1px solid #cccccc;
}

.select-custom ul {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

.select-custom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  border-radius: 1.5rem;
  padding: 0 3rem;
  color: #000;
}

.select-custom ul li.hide {
  display: none;
}

.select-custom ul li span {
  font-size: 2.5rem;
}

.select-custom ul li i {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 2.5rem;
}

.select-custom ul li i img {
  display: inline-block;
  position: absolute;
  width: 100%;
}

.select-modal span.selected-option {
  padding: 0 3rem;
  color: #000;
  background-image: none;
}

.select-modal span.selected-option i {
  margin-right: 0;
  background-size: cover;
}

.select-modal span.selected-option i.people {
  width: 3.1rem;
  height: 2.3rem;
}

.select-modal span.selected-option i.date {
  width: 2.9rem;
  height: 2.5rem;
}

/* radio */
.checks {
  position: relative;
}

.checks p {
  margin-right: 4rem;
  font-size: 2.5rem;
}

.checks input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks input[type="radio"] + label {
  display: inline-block;
  position: relative;
  width: auto;
  padding-left: 3.3rem;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.8rem;
  line-height: normal;
}

.checks input[type="radio"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
}

.checks input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  top: 0.6rem;
  left: .6rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #CA1C1D;
  border-radius: 100%;
}

.checks input[type="radio"] + label + input + label {
  margin-left: 2rem;
}

/* table */
.table__inner table {
  margin-bottom: 0;
  table-layout: fixed;
  border-top: .1rem solid #000000;
}

.table__inner thead th {
  padding-left: 3rem;
  font-weight: 500;
  background: #f1f3f6;
  border-top: none;
  border-bottom: .1rem solid #ececec;
  vertical-align: middle;
  text-align: center;
  font-size: 2rem;
}

.table__inner thead th:last-child {
  border-right: none;
}

.table__inner tr.bg-th {
  background: #f1f3f6;
}

.table__inner tr.bg-th td {
  font-weight: 500;
}

.table__inner th, .table__inner td {
  height: 7rem;
  font-size: 2rem;
  vertical-align: middle;
  line-height: 3.2rem;
}

.table__inner th.border-right_no, .table__inner td.border-right_no {
  border-right: none;
}

.table__inner td {
  padding: 0rem 2rem;
  border-top: 0;
  border-bottom: .1rem solid #ececec;
  font-size: 1.8rem;
}

.table__inner td.pd-normal {
  padding: 1.65rem 3rem;
}

.table__inner td:last-child {
  border-right: none;
}

.table__inner td a {
  font-size: 1.8rem;
}

.table__inner td a.title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.3rem;
  height: 2.3rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.table__inner td button {
  height: 5rem;
}

.table__inner td .exp-cost {
  font-size: 2rem;
}

.table__inner td .exp-cost p {
  color: #78838c;
}

.table__inner td .exp-cost span {
  font-size: 2rem;
}

.table__inner td > div {
  font-size: 2rem;
}

.table__inner td.pg {
  font-size: 1.6rem;
}

.table__inner.hor table {
  table-layout: fixed;
  border-top: .1rem solid #000000;
}

.table__inner.hor table.table-initial {
  table-layout: initial;
}

.table__inner.hor tr:first-child th {
  border-top-color: #000000;
}

.table__inner.hor th, .table__inner.hor td {
  height: 7rem;
  font-size: 2rem;
  vertical-align: middle;
  line-height: 3.2rem;
}

.table__inner.hor th.border-right_no, .table__inner.hor td.border-right_no {
  border-right: none;
}

.table__inner.hor th {
  width: 22rem;
  padding-left: 3rem;
  font-weight: 500;
  background: #f1f3f6;
  border-right: .1rem solid #d7d7d7;
  border-bottom: .1rem solid #d7d7d7;
  text-align: left;
}

.table__inner.hor th.title {
  border-right: none;
}

.table__inner.hor td {
  padding-left: 3rem;
  border-top: 0;
  border-bottom: .1rem solid #d7d7d7;
}

.table__inner.hor td .certi-box .form-group {
  margin-left: 0;
}

.table__inner.hor td > div {
  font-size: 2rem;
}

.table__inner.hor dl {
  padding: 2.5rem 0;
}

.table__inner.p_1 td {
  padding: 1rem;
}

.table__inner.th-center {
  color: #000;
}

.table__inner.th-center th {
  padding: 0 !important;
  text-align: center;
}

.table__inner.th-center td {
  padding: 2.5rem 3rem;
}

.table__inner ul.list-dashed li {
  padding-left: 1.2rem;
  font-size: 2.5rem;
  color: #000;
  line-height: 3.8rem;
}

.table__inner ul.list-dashed li::before {
  top: 1.3rem;
  width: .7rem;
  height: .2rem;
  background: #000;
}

/* pagination */
.paging {
  margin-top: 3rem;
}

.paging__inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -.1rem;
  color: #686868;
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 1;
}

.paging__inner a.first i {
  width: 1.1rem;
  height: 1.1rem;
  background: url(../image/common/icon/arrow__first.png) no-repeat center;
  background-size: cover;
}

.paging__inner a.prev i {
  width: .7rem;
  height: 1.1rem;
  background: url(../image/common/icon/arrow__prev.png) no-repeat center;
  background-size: cover;
}

.paging__inner a.next i {
  width: .7rem;
  height: 1.1rem;
  background: url(../image/common/icon/arrow__prev.png) no-repeat center;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.paging__inner a.last i {
  width: 1.1rem;
  height: 1.1rem;
  background: url(../image/common/icon/arrow__first.png) no-repeat center;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.paging__inner a.on {
  background: #f8f8fa;
  font-weight: 600;
  border: 1px solid #e4e6ee;
  border-radius: .3rem;
  color: #000;
}

/* scrollbar */
.book-list::-webkit-scrollbar {
  width: .4rem;
}

.book-list::-webkit-scrollbar-thumb {
  background-color: #9dd757;
  border-radius: 1rem;
}

.book-list::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  border-radius: 1rem;
}

.accordion .form-check {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #e5e7ee;
}

.accordion .form-check.on .acc_admit {
  background: url("../image/sub/icon/icon_accClampUp.png") no-repeat 100% 100%;
  background-size: contain;
}

.accordion .form-check input[type='checkbox'] + label::before {
  top: 0.2rem;
}

.accordion .acc_admit {
  height: 3.4rem;
  padding-right: 4.5rem;
  font-size: 1.6rem;
  background: url("../image/sub/icon/icon_accClampDown.png") no-repeat 100% 100%;
  background-size: contain;
}

.accordion .admitContent {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 12rem;
  margin-top: 1rem;
  padding: 1.8rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e5e7ee;
}

.accordion .admitContent p {
  line-height: 1.8em;
}

.accordion .admitContent p::-webkit-scrollbar-track {
  background-color: #f8f8fa;
  border-radius: 5rem;
}

.accordion .admitContent p::-webkit-scrollbar-thumb {
  background-color: #e5e7ee;
  border-radius: 5rem;
}

.accordion .admitContent p.pre {
  overflow: auto;
  height: 100%;
  padding-right: 3rem;
  font-size: 1.6rem;
  color: #747478;
  white-space: pre-line;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 52.5%;
  }
  .header__inner .gnb .notice__inner {
    width: 47.5rem;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 42.5%;
  }
}

.icon {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}

.icon.arrow-fill {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__bottom {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__right {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}

.icon.arrow-fill__white {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-fill__gray {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-fill__dgray {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.arrow-round {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-back {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-top {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-left {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-first {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-last {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon.arrow-prev {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}

.icon.arrow-next {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon.arrow-right {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.arrow-more {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.icon.close {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}

.icon.close_big {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.content__inner.main {
  margin-bottom: 120px;
}

.main-tit {
  margin-bottom: 50px;
  font-size: 3.4rem;
  font-weight: 600;
}

.main-tit em {
  display: inline-block;
  font-weight: 600;
  line-height: unset;
}

.top-dot {
  position: relative;
}

.top-dot::before {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  width: .5rem;
  height: .5rem;
  background: #000000;
  border-radius: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}

.top-dot.color-red::before {
  background: #CA1C1D;
}

.list-thumb.main ul {
  margin: -1.5rem;
}

.list-thumb.main ul li {
  padding: 1.5rem;
}

.list-thumb.main ul li a {
  position: relative;
  display: inline-block;
  background: #f8f8fa;
}

.list-thumb.main ul li a img {
  max-height: 296px;
}

.list-thumb.main ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #de2e2e;
  border-radius: 3px;
}

.list-banner ul {
  margin: -3rem -1.5rem -3rem -1.5rem;
}

.list-banner ul li {
  padding: 1rem 1.5rem;
}

.list-banner ul li a img {
  max-height: 114px;
}

.list-banner ul li a:hover img {
  -webkit-box-shadow: 13px 13px 2rem rgba(31, 31, 49, 0.26);
          box-shadow: 13px 13px 2rem rgba(31, 31, 49, 0.26);
}

/* section4 */
.video-info {
  padding: 30px;
}

.video-info i {
  width: 2.9rem;
  height: 2rem;
  margin-right: 1rem;
  background: url(../image/main/icon/icon-youtube.png);
}

.video-info p {
  line-height: 2.4rem;
}

.section4 > div {
  position: relative;
  padding-top: 85px;
}

.section4 > div::before {
  position: absolute;
  top: 0;
  right: -150px;
  width: 1152px;
  height: 603px;
  background: url(../image/main/bg-gradient.png);
  content: "";
  z-index: -1;
}

.section4 .right {
  padding-left: 70px;
}

.section4 .right .font_24 {
  font-size: 2.4rem;
}

.section4 .right .font_50 {
  font-size: 5rem;
}

.section4 .right .link-sub {
  margin-top: 35px;
}

.section4 .right .link-sub > div {
  width: 271px;
  height: 265px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 16px 16px 56px rgba(23, 6, 6, 0.18);
          box-shadow: 16px 16px 56px rgba(23, 6, 6, 0.18);
}

.section4 .right .link-sub > div + div {
  margin-left: 19px;
}

.section4 .right .link-sub > div a {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-bottom: 50px;
}

.section4 .right .link-sub > div a p {
  margin-top: auto;
  line-height: 2.6rem;
  font-size: 2rem;
  font-weight: 600;
  background: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E") no-repeat right center;
}

.same-m button {
  width: 17.3rem;
  padding: 1px;
}
