@import "./common";

/* 20220225 red_lab 수정*/
.galleryReward{
    .grandList{
        a{
            .pipeLine {
                width:1px;
            }
        }
    }  
    .lab-gallery {
        a{
            width: calc(50% - 1.5rem);
            span{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                letter-spacing: -0.1rem;
            }
        }
    }
}
.container__core{
    .button-wrap{
        button{
            font-size:3rem;
            letter-spacing: -0.75px;
        }
    }
    .guideBook-list__item {
        img{
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
        p{
            margin-top:3.2rem;
        }
    }

    .board-write {
        .modyCaptcha {
            .captBox {
                img {
                    display: inline-block;
                    width: 23.8rem;
                    height: 11.3rem;
                }
                .captBtn {
                    position: relative;
                    width: 5.7em;
                    a{
                        overflow: hidden;
                        display: block;
                        border: solid 1px #e5e7ee;
                        background-color: #f8f8fa;
                        width: 100%;
                        height: 5.6rem;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        text-align: center;
                        line-height: 8.5rem;
                        span {
                            margin-left: 0;
                            width: 5.7em;
                            height: 5.6rem;
                            &.captchaSound {
                                width: 3.2rem;
                                height: 3.1rem;
                                background: url("../image/sub/icon_audio.png") no-repeat;
                                background-size: cover;
                            }
                            &.captchaRefresh {
                                width: 2.9rem;
                                height: 3.1rem;
                                background: url("../image/sub/icon_replay.png") no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
                input {
                    margin-left: 1rem;
                    width: 35.6rem;
                    height: 11.3rem;
                    border-radius: 6px;
                    border: solid 1px #e5e7ee;
                    background-color: #f8f8fa;
                    font-size: 2.5rem;
                    &::-webkit-input-placeholder{
                        font-size: 2.5rem;
                        font-weight: 300;
                        letter-spacing: -0.63px;
                    }
                    &:-ms-input-placeholder{
                        font-size: 2.5rem;
                        font-weight: 300;
                        letter-spacing: -0.63px;
                    }
                    &::-ms-input-placeholder{
                        font-size: 2.5rem;
                        font-weight: 300;
                        letter-spacing: -0.63px;
                    }
                    &::placeholder{
                        font-size: 2.5rem;
                        font-weight: 300;
                        letter-spacing: -0.63px;
                    }
                }
            }
        }
    }
}







