@import "./common";

/* myRoomContest */
footer.mt_0{
    margin-top:0 !important;
}
.grayBox {
    width:100%;
    height: 18rem;
    background-color: #f8f8fa;
    box-sizing:border-box;
    font-family: NanumSquare;
    p {
        font-size:2.2rem;
        font-weight: normal;
        letter-spacing: -0.55px;
        color: #747478;
        text-align:left;
       
    } 
    >div {
        width:25%;
        padding:30px;
    }  
    >div + div {
        border-left:1px solid #EDEEF3;
    }   
    span {
        display:block;
        margin-top:4.7rem;
        font-size:2.2rem;
        color:#000;
        font-weight:normal;
        letter-spacing: -0.55px;
        text-align: right;
        a {
            font-size:3.2rem;
            color:#000;
            font-weight:800;
            letter-spacing: -0.9px;
        }
    }
    .on{
        background-color: #000;
        p {
            color:#fff;
        }
        span{
            color:#fff;
            a{
                color:#ff0001;
            }
        }
    }
}


.boxWrap {
    .controlDate {
        position:relative;
        text-align:center;
        span {
            font-size:4.4rem;
            font-weight:500;
            letter-spacing: -1.1px;
        }
        button {
            position:absolute;
            width: 1.7859rem;
            height: 2.739rem;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            box-sizing: border-box;
            img{
                position:absolute;
                top:0;
                left:0;
            }
        }
        .datePrev{
            left:10.4rem;
        }
        .dateNext{
            right:10.4rem;
        }
        p {
            font-size:2rem;
            font-weight:300;
            letter-spacing:-1px;
            color:#555;
            text-align: center;
        }
    }
    .text {
        margin-top: 2.8rem;
        font-size:2rem;
        font-weight:300;
        letter-spacing:-1px;
        color:#555;
        text-align: center;
        line-height: 3.25rem;
    }
}
.DateTitle{
    width: 100%;
    margin-top:1.9rem;
    text-align: right;
    span{
        position:relative;
        font-size:1.8rem;
        color:#555;
        letter-spacing: -0.45px;
        text-align: left;
        &+span {
            margin-left:3.3rem;
            &+span {
                padding-right:0.8rem;
            }
        }
    }  
    .competition::before{
        position:absolute;
        top: 0.7rem;
        left: -1.8rem;
        width:1rem;
        height:1rem;
        background-color:#e82459;
        border-radius: 50%;
        content:'';
    }  
    .education::before{
        position:absolute;
        top: 0.7rem;
        left: -1.8rem;
        width:1rem;
        height:1rem;
        background-color:#ffbb00;
        border-radius: 50%;
        content:'';
    } 
    .activities::before{
        position:absolute;
        top: 0.7rem;
        left: -1.8rem;
        width:1rem;
        height:1rem;
        background-color:#8ee600;
        border-radius: 50%;
        content:'';
    } 
}

.calendarSt{
    display: grid;
    display: -ms-grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(14%, auto));
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8rem repeat(5, minmax(8rem, auto));
    -ms-grid-rows: 8rem 8rem 8rem 8rem 8rem 8rem;
    margin-top:1.1rem;
    padding-bottom: 4rem;
    >div{
        position: relative;
        height: 8rem;
        color: #000;
        font-weight: 500;
        letter-spacing: -0.55px;
        text-align: center;
        p {
            line-height: 8rem;
            text-align: center; 
            opacity:0.5;
            font-size: 2.2rem;
            font-weight: 500;
        }
        &.today {
            background-color: #f8f8fa;
        }
        &:nth-child(1) p{
            color:#ff0000;
            opacity:0.5;
        }
        &:nth-child(7) p{
            color:#008af0;
            opacity:0.5;
        }
        &:nth-child(-n+7){
            @include display-flex;
            margin-bottom:2em;
            height:6.4rem;
            align-items: center;
            justify-content: center;
            background-color: #f8f8f8;
            opacity:1;
            p {
                font-size:2.2rem;
                font-weight: 500;
            }
        }
        &:nth-child(7n+1) p{
            color:#ff0000;
        }    
        &:nth-child(7n) p{
            color:#008af0;
        } 
    }
    
    >div.hasEvent {
        .event{
            position: absolute;
            width: 100%;
            height: 1.2rem;
            text-align: center;
            bottom: 0.7rem;
            margin: 0 auto;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            span {
                &+span {
                    margin-left:0.6rem;
                }    
            } 
            .competition{
                display: inline-block;
                width:1.2rem;
                height:1.2rem;
                border-radius: 50%;
                opacity:1;
                background-color:#e82459;
            }
            .education{
                display: inline-block;
                width:1.2rem;
                height:1.2rem;
                border-radius: 50%;
                opacity:1;
                background-color: #ffbb00;
            }
            .activities{
                display: inline-block;
                width:1.2rem;
                height:1.2rem;
                border-radius: 50%;
                opacity:1;
                background-color:#8ee600;
            }
        }
    }
    .nextMonth {
        opacity: 0.15;
    }
}



.indexList {
    overflow: hidden;
    padding-top:1.9rem;
    background-color: #f8f8fa;
    height:auto;
    .index_wrap {
        padding-top:6.1rem;
        height:auto;
        background-color: #fff;
        .search-box {
            height:5.8rem;
            margin-top:0;
            padding-left:1rem;
            .form-select {
                color:#000;
                font-size:2.4rem;
                font-weight: normal;
                letter-spacing: -0.6px;
                p{
                    line-height: 3.6rem;
                    span {
                        color:#ca1c1d; 
                        font-weight: bold;
                    }
                }
            }
        }
        .search-right {
            text-align: right;
            select{
                width: 16rem;
                height: 5.8rem;
                padding-bottom: 2rem;
                background-position: 13rem 1.5rem;
                option {
                    font-size: 2rem;
                    line-height: 1.67;
                    letter-spacing: -0.6px;
                    text-align: left;
                }
            }
        }
    }
    .tab-wrap{
        padding-top:4rem;
        background-color: #fff;
        li{
            color:#747478;
            font-weight: bold;
            letter-spacing: -0.6px;
            .current{
                color:#ca1c1d;
            font-weight:bold;
            }
        }
        .items {
            position: relative;
            padding-right:3.6rem;
            padding: 2.2rem 0 2.2rem;
            &+.items {
                border-top:1px solid #e5e7ee;
            }
            .itemCont{
                display: inline-block;
                width: calc(100% - 4rem);
                .state {
                    position:relative;
                    div {
                        display: inline-block;
                        width:8rem;
                        height:3.6rem;
                        font-size:1.8rem;
                        font-weight: normal;
                        letter-spacing: -0.45px;
                        line-height:3.6rem;
                        text-align: center;
                    }
                    p {
                        display: inline-block;
                        margin-left:2rem;
                        font-size:2.2rem;
                        font-weight: normal;
                        letter-spacing: -0.55px;
                    }
                    & >div.accepting{
                        color:#df0000;
                        background-color:#fff3f3;
                        border:1px solid #ffb4b4;
                    }
                    & >div.tobe{
                        color:#ff9306;
                        background-color: #fffdf3;
                        border:1px solid #ffc671;
                    }
                    & >div.imminent{
                        color:#068bff;
                        background-color:#f3faff;
                        border:1px solid #71c1ff;
                    }
                    & >div.deadline{
                        color: #545454;
                        background-color:#e8e8e8;
                        border:1px solid #9a9a9a;
                    }
                    .interView{
                        font-size:2.2rem;
                        font-weight: normal;
                        letter-spacing: -0.55px;
                    }
                    .strategy {
                        width:12rem;
                        font-size:2.2rem;
                        font-weight: normal;
                        letter-spacing: -0.55px;
                    }
                }
                .title {
                    margin-top:1.4rem;
                    font-size:2.4rem;
                    font-weight: normal;
                    letter-spacing: -0.6px;
                }
                .date {
                    margin-top:1.2rem;
                    font-size:1.8rem;
                    font-weight: normal;
                    letter-spacing: -0.45px;
                    color:#747478;
                }
            }    
            .delete {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 3.6rem;
            }

        }
    }
}  

.bottom_menu {
    margin-top:12rem;
    box-sizing:border-box;
    >button{
        display:inline-block;
        width:50%;
        padding:3.2rem 11rem;
        font-size: 2.4rem;
        font-weight: normal;
        letter-spacing: -0.6px;
        background-color: #f8f8fa;
        +button {
            border-left:1px solid #EDEEF3;
        }
    }
}

/* myRoomContentList */
.contentList {
    .boxWrap{
        margin:40px 0;
        line-height: 3.3rem;
    }
    .indexList {
        .index_wrap{
            .search-box {
                height:3.6rem;
            }
        }
    }
    
}

/* myRoomApplyList */
.myRoom_apply.modal-open {
    display:block;
    opacity: 1 !important;
    border:1px solid #000;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    .modal-dialog{
        width:100%;
        max-width: 100%;
        min-height: calc(100% - -50rem);
        .modal-content {
            padding:11rem 8.7rem;
            min-width: 100%;
            height:70vh;
            background: #fff;
            border-radius: 3.6rem 3.6rem 0 0;
            opacity: 1;
            box-sizing: border-box;
            transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
            box-shadow: 0 -8px 18px 0 rgba(0, 0, 0, 0.18);
            .modal-header {
                padding-bottom:5rem;
                border-bottom:0;
                h5{
                    position: relative;
                    padding:0;
                    width:100%;
                    left:0;
                    font-size:4rem;
                    font-weight:500;
                    letter-spacing: -0.15rem;
                    transform: none;
                    span {
                        margin-top:4rem;
                        display:block;
                        font-size:2rem;
                        font-weight:300;
                        letter-spacing: -0.13rem;
                        color: #555;
                    }
                }
            }
            .modal-body {
                padding:0;
                div{
                    font-size:2.4rem;
                    font-weight:500;
                    letter-spacing: normal;
                    p{
                        display:inline-block;
                        margin-left:4rem;
                        font-size:2.4rem;
                        font-weight:300;
                        letter-spacing: normal;
                    }
                }
                input {
                    margin-top:5rem;
                }
            }
            .modal-footer {
                .button-red{
                    background-color:#ca1c1d;
                    color:#fff;
                    font-size:2.6rem;
                    font-weight:500;
                    letter-spacing: normal;
                }
                .button-white{
                    margin-top:8rem;
                    border:1px solid #e5e7ee;
                    color:#747478;
                    font-size:2.6rem;
                    font-weight:500;
                    letter-spacing: normal;
                }
            }
        }
    }
    
}
.modal-backdrop {
    background: transparent;
}
.modal-backdrop.show {
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    width:100vw;
    height:100vh;
    opacity: 0.18;
    background: rgba(0,0,0,1);
}
/* myRoomInfoMody */
.container__core.myRoomMody {
    padding-top:0;
}

.board-write {
    span{
        margin-left:3rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: -1px;
        color: #555;
    }
    .form-wrap{
        input.color-black::placeholder{
            color:#000;
        }
    }
    .tab-top{
        ul{
            li{
                font-weight:bold;
            }
        }
    }

    .tab-content {
        .tab-top {
            
        }
        .mody_items {
            flex-flow: row wrap;
            text-align: center;
            .items {
                width:33.33%;
                box-sizing:border-box;
                .icon_list{
                    .box {
                        width:12rem;
                        height:12rem;
                        line-height: 12rem;
                        margin: 0 auto;
                    }
                    p{
                        font-size:2rem;
                        font-weight: normal;
                        letter-spacing: normal;
                        color:#999;
                    }
                }
            }
        }
    }
}
