@import "./common";

// //svg icon
// @function icon($iconName, $color:ff0077){
//     $iconList: (
//         recomment:"%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.998' height='26.999'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23747478%7D%3C/style%3E%3C/defs%3E%3Cg id='그룹_18875' data-name='그룹 18875' transform='translate(-79 -1702)'%3E%3Cg id='구성_요소_9_100' data-name='구성 요소 9 - 100' transform='rotate(-90 911.5 817.5)'%3E%3Cpath id='합치기_12' data-name='합치기 12' class='cls-1' d='M8.469 10.81-.029 2.019 2.1-.181l6.371 6.607 6.375-6.607 2.125 2.2-8.494 8.8Z' transform='translate(.029 .181)'/%3E%3C/g%3E%3Cpath id='사각형_23995' data-name='사각형 23995' class='cls-1' transform='translate(79 1719)' d='M0 0h22v3H0z'/%3E%3Cpath id='사각형_23996' data-name='사각형 23996' class='cls-1' transform='rotate(-90 900.5 821.5)' d='M0 0h20v3H0z'/%3E%3C/g%3E%3C/svg%3E"
//     );
//     $icon: map-get($iconList, $iconName );
//     @return url("data:image/svg+xml;charset=utf8, #{$icon}");
// }

/* 부트스트랩 초기화 */
.container{
    padding:0;
    max-width: none;
    &__core{
        padding:6rem 3rem 0 3rem;
    }
}

.breadcrumb{
    margin:0;
    margin-top:-1px;
    padding:0;
    background: #ffffff;
    border-radius: 0;
    &__inner{
        @include display-flex;
        @include align-center;
        padding: 1rem 0 2.6rem 3rem;
        font-size:2.4rem;
        font-weight: $font-weight__b;
        flex: 1;
        border-bottom: 1px solid #707070;;
        i{
            display: block;
            width:1.7rem;
            height: 1.1rem;
            margin: 0 1rem;
            background: icon(chevron-down) no-repeat center;
            background-size: 100%;
            transform: rotate(-90deg);
        }
    }
}

/* 회원가입 */
.box{
    &-gray{
        padding:6rem 7.75rem;
        border:1px solid #e5e7ee;
        border-radius:.6rem;
        text-align:center;
        &--login{
            width:31.5rem;
        }
        & + div{
            margin-left:1rem;
        }
        .circle{
            &-gray{
                @include d-flex;
                @include align-center;
                @include justify-center;
                width:16rem;
                height:16rem;
                background-color:#f8f8fa;
                border-radius:100%;
            }
        }
        >button{
            &.btn{
                height:5rem;
                font-size:1.8rem;
                font-weight:200;
            }
        }
    }
}


/* 씽굿광장 */ 
.search{
    &-box{
        margin-top: -2rem;
    }
    &-right{
        flex:1;
        >div{
            flex:1;
            //border-bottom: 1px solid;
            &.w{
                &-220{
                    flex:none;
                    width:22rem;
                }
            }
        }
        select{
            width:100%;
            height: 7.5rem;
            font-size:2.4rem;
            line-height: 100%;
            background: icon(chevron-down) no-repeat right 1rem center;
            background-size: 1.7rem 1.1rem;
            text-indent: 2rem;
            border-bottom: 2px solid;
        }
        .form-search{
            border-bottom: 2px solid;
            input{
                flex:1;
                height: 7.5rem;
            }
            &__click{
                height: 5rem;
                padding: 0 1rem;
                i{
                    width: 3.3rem;
                    height: 3.1rem;
                }
            }
        }
    }
}

/* 게시판 */ 

.board{
    &-list{
        &__inner{
            ul{
                li{
                    padding:2rem 0;
                    border-bottom:2px solid #e5e7ee;
                    &.answer{
                        @include display-flex;
                        >i{
                            display: block; 
                            width: 2.6rem; 
                            height: 2.7rem; 
                            margin-right: 2rem;
                            background: url(../image/sub/iconRecomment.svg) no-repeat; 
                            background-size: cover;
                        }
                        
                    }
                }
            }
            .part{
                margin-bottom: 1.5rem;
                font-size:2rem;
                font-weight: 500;
                //line-height: 2;
                span{
                    color:#ca1c1d;
                    font-weight: 500;
                }
            }
            .title{
                display: inline-block;
                //padding-top:1rem;
                font-size: 2.4rem;
                font-weight: $font-weight__m;
                line-height: 3rem;
                span{
                    color:#ca1c1d;
                    font-weight: 500;
                }
                &.noti{
                    position: relative;
                    padding-left:4rem;
                    &::before{
                        position:absolute;
                        left:0;
                        width:3rem;
                        height:3rem;
                        background: #ca1c1d icon(iconNoti)no-repeat center;
                        border-radius: 100%;
                        content:""
                    }
                }
                &.team{
                    position: relative;
                    padding-left:4rem;
                    &::before{
                        position:absolute;
                        left:0;
                        width:3rem;
                        height:3rem;
                        background: #ca1c1d icon(iconPeople)no-repeat center;
                        background-size: 1.8rem 1.9rem;
                        border-radius: 100%;
                        content:""
                    }
                }
            }
            @at-root .etc{
                line-height: 2;
                padding-top:1rem;
                p{
                    line-height: normal;
                    color:#747478;
                    font-size: 2rem;
                    &+p{
                        margin-left: 3rem;
                    }
                }
                i{
                    margin-right: 1rem
                }
                .author{
                    @include d-flex;
                    @include align-center;
                    i{
                        display: block;
                        width: 1.4rem;
                        height: 2rem;
                        background: icon(iconAuthor)no-repeat center;
                        background-size: contain;
                    }
                }
                .num{
                    @include d-flex;
                    @include align-center;
                    i{
                        display: block;
                        width: 2.1rem;
                        height: 1.4rem;
                        background: icon(iconView)no-repeat center;
                        background-size: contain;
                    }
                }
            }
            
        }
    }
    &-write{
        >div{
            +div{
                margin-top: 6rem;
            }
        }
        .tit{
            margin-bottom:1rem;
            font-size: 2.6rem;
            font-weight: 500;
            line-height:3.8rem;
            &.essential{
                position:relative;
                display: inline-block;
                &::before{
                    position:absolute;
                    top: -.5rem;
                    right:-.5rem;
                    width:.5rem;
                    height:.5rem;
                    background: #ca1c1d;
                    border-radius: 100%;
                    content:""
                }
            }

        }
        .form{
            &-wrap{
                select{
                    width:100%;
                    height:9rem;
                    border: solid 1px #e5e7ee;
                    border-radius: .6rem;
                    font-size:2.4rem;
                    line-height: 100%;
                    text-indent: 2rem;
                    background: icon(chevron-down) no-repeat right 2rem center;
                    background-size: 1.7rem 1rem;
                }
                input{
                    width:100%;
                    height:9rem;
                    border: solid 1px #e5e7ee;
                    border-radius: .6rem;
                    font-size:2.4rem;
                    text-indent: 2rem;
                    &::placeholder{
                        color:#747478;
                        font-weight: 300;
                    }
                    
                }
                textarea{
                    width:100%;
                    height:27rem;
                    padding:3rem 2rem;
                    border: solid 1px #e5e7ee;
                    border-radius: .6rem;
                    font-size:2.4rem;
                    resize: none;
                    &::placeholder{
                        color:#747478;
                        font-weight: 300;
                    }
                }
            }
            &-input{
                width:100%;
                height:9rem;
                border: solid 1px #e5e7ee;
                border-radius: .6rem;
                input{
                    height: 100%;
                    border:none;
                }
                .button-delete{
                    width:6.6rem;
                    height:2.6rem;
                    background: url(../image/sub/iconX.svg)no-repeat center;
                    background-size: 2.6rem;
                }
                &+div{
                    margin-top: 1rem;
                }
            }
        }
        .click{
            &-button{
                margin: 0 -1rem;
                margin-top: 2.6rem;
                button{
                    @include d-flex;
                    width:auto;
                    height:auto; 
                    border: none;
                    padding:0;
                    margin: 0 1rem;
                    font-size:2rem;
                }
            }
            &-plusLink{
                border: none;
                i{
                    display: block;
                    width:2.1rem;
                    height:2.1rem;
                    margin-right: 1rem;
                    background: url(../image/sub/iconPlus.svg)no-repeat center;
                    background-size: 100%;
                }
            }
            &-plusFile{
                border: none;
                i{
                    display: block;
                    width:2.1rem;
                    height:2.1rem;
                    margin-right: 1rem;
                    background: url(../image/sub/iconPlus.svg)no-repeat center;
                    background-size: 100%;
                }
            }
            &-deleteLink{
                border: none;
                i{
                    display: block;
                    position:relative;
                    width:2.1rem;
                    height:2.1rem;
                    margin-right: 1rem;
                    &::before{
                        position:absolute;
                        top: 50%;
                        left:0;
                        width:2.1rem;
                        height: .3rem;
                        background:#000000;
                        transform: translateY(-50%);
                        content:""
                    }
                }
            }
        }
        .button{
            &-wrap{
                button{
                    height:9rem;
                    font-size:2.6rem;
                    font-weight: 300;
                }
            }
        }
    }
}

.view{
    &-title{
        margin-bottom:3rem;
        i{
            display: block;
            width:3.5rem;
            height:3.5rem;
            margin-top: .3rem;
            margin-right:1rem;
            border-radius: 100%;
            flex: none;
            &.team{
                background: #ca1c1d icon(iconPeople)no-repeat center;
                background-size: 1.7rem 2rem;
            }
            &.noti{
                background: #ca1c1d icon(iconNoti)no-repeat center;
                background-size: 2rem 1.7rem;
            }
        }
        p{
            font-size:3.8rem;
            font-weight:$font-weight__b;
            line-height: 1.05;
        }
    }
    &-info{
        *{
            font-size: 2rem;
            color:#747478;    
        }
        font-size: 2rem;
        color:#747478;
        .etc{
            padding-top:0rem;
        }
    }
    &-link{
        margin: 0 -3rem;
        &__inner{
            margin-top: 4rem;
            padding:3rem;
        }
        background: #f8f8fa;
        *{
            font-size:2.4rem;
            font-weight: 500;
            color:#747478;
        }
        a{
            font-size:2.4rem;
            font-weight: 500;
            color:#747478;
        }
        ul{
            margin:-1rem 0;
            li{
                @include display-flex;
                padding:1rem 0;
                line-height: 3.5rem;
                i{
                    display: block;
                    width:3.5rem;
                    height:3.5rem;
                    background: #ca1c1d icon(iconLink)no-repeat center;
                    background-size: 2.2rem 2rem;
                    border-radius: 100%;
                    flex:none;
                }
                span{
                    padding:0 2rem;
                    line-height: 3.5rem;
                    flex:none;
                }
                a{
                    line-height: 3.5rem;
                    flex:1;
                    word-break: break-all;
                }
            }
        }
    }
    &-content{
        min-height: 68rem;
        padding:6rem 0;
        border-bottom:2px solid #e5e7ee;
        *{
            line-height: normal;    
        }
        &__bottom{
            margin: 3rem 0;
        }
    }
    &-comment{
        position:relative;
        padding-top:6rem;
        &::before{
            position:absolute;
            top:0;
            left: -3rem;
            width: calc(100% + 6rem);
            height:2rem;
            background: #f8f8fa;
            content:""    
        }
        .title{
            font-size:2.6rem;
            font-weight: $font-weight__b;
            line-height: 3.8rem;
            span{
                color:#ca1c1d;
                font-weight: $font-weight__b;
            }
        }
        .editor{
            width:100%;
            height:12rem;
            margin-top: 2rem;
            //border-radius: .6rem;
            overflow: hidden;
            textarea{
                padding:2rem;
                flex:1;
                border-color:#e5e7ee;
                resize: none;
                font-size:2.4rem;
                line-height: 3.6rem;
                border-right:none;
                border-radius:  .6rem 0 0 .6rem;
                &::placeholder{
                    color: #747478;
                    font-weight: 100;
                }
            }
            button{
                width:12rem;
                height:100%;
                margin: 0;
                font-size:2rem;
                font-weight: normal;
                border-radius:  0 .6rem .6rem  0;
                background: #474747;
                color:#ffffff;
            }
        }
        .comment{
            &-list{
                li{
                    padding:4rem 0;
                    border-bottom: 2px solid #e5e7ee;
                }
                &__header{
                    //margin-bottom: 2rem;
                    .user{
                        font-size:2.4rem;
                        font-weight: 500;
                    }
                    .date{
                        margin-left: 2rem;
                        font-size:2.2rem;
                        color:#747478;
                    }
                }
                &__body{
                    padding:2rem 0 3rem 0;
                    font-size:2.4rem;
                    line-height: 3.6rem;
                }
                .button-wrap{
                    @include display-flex;
                    margin: 0 -.5rem;
                    button{
                        width: 9rem;
                        height: 4.8rem;
                        margin: 0 .5rem;
                        border-radius: .6rem;
                        border: solid 2px #e5e7ee !important;
                        background-color: #f8f8fa;
                        color:#000000;
                        font-weight: 300;
                        font-size: 2rem;
                    }
                }
                .comment-box{
                    &__inner{
                        margin-bottom: -4rem;
                        margin-top: 4rem;
                        padding:4rem 3rem 4rem 2rem;
                        background-color: #f8f8fa;
                        border-top:2px solid #e5e7ee;
                        i{
                            display: block;
                            width:2.6rem;
                            height:2.7rem;
                            margin-right: 2rem;
                            background: url(../image/sub/iconRecomment.svg)no-repeat;
                            background-size: cover;
                        }
                        .editor{
                            margin-top: 0;
                            border-radius: 0.6rem;
                            overflow: hidden;
                            textarea{
                                border:1px solid #e5e7ee;
                                border-right:none;
                                resize: none;
                                font-size:2.4rem;
                                line-height: 3.6rem;
                            }
                        }
                        .button-wrap{
                            margin: 0;
                            button{
                                width:12rem;
                                height:100%;
                                margin: 0;
                                font-size:2rem;
                                font-weight: normal;
                                border:none !important;
                                border-radius: 0;
                                background: #474747;
                                color:#ffffff;
                            }
                        }
                    }
                }
            }
            &-answer{
                margin-top: 4rem;
                margin-bottom: -4.2rem;
                padding: 0 2rem;
                border-top:2px solid #e5e7ee;
                i{
                    flex:none;
                    display: block;
                    width:2.6rem;
                    height:2.7rem;
                    margin-right: 2rem;
                    background: url(../image/sub/iconRecomment.svg)no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

/* button */
.button{
    &-wrap{
        margin: 0;
        button{
            width:100%;
            height: 7rem;
            margin: 0;
            border-radius: .6rem;
            font-size: 2.4rem;
        }
    }
    &-red{
        color: #ffffff;
    }
    &-scrap{
        @include display-flex;
        @include align-center;
        font-size: 2.4rem;
        i{
            display: block;
            width: 2.6rem;
            height:2.5rem;
            margin-right: 1rem;
            background: icon(iconHeart,fff)no-repeat center;
            background-size: cover;
        }
        &.on{
            i{
                background: icon(iconHeart,ff4a4b)no-repeat center;
                background-size: cover;
            }
        }
    }
    &-modify{
        padding: 0 1.5rem;
        background: #ffffff;
        i{
            display: block;
            width:2.7rem;
            height:3.7rem;
            background: icon(iconModify)no-repeat center bottom;
            background-size: 100%;
        }
    }
    &-delete{
        padding: 0 1.5rem;
        i{
            display: block;
            width:2.7rem;
            height:3.2rem;
            background: icon(iconDelete)no-repeat center bottom;
            background-size: 100%;
        }
    }
    &-list{
        background: #a59b99;
    }
}

.paging{
    margin-top: 3rem;
    &__inner{
        a{
            width: 6rem;
            height: 6rem;
            font-size:2.2rem;
            &.on{
                color:#dd2525;
            }
            &.first{
                background: url(../image/sub/iconLast.png)no-repeat center;
                background-size: 1.9rem 1.8rem;
                transform: rotate(180deg);
            }
            &.prev{
                background: url(../image/sub/iconNext.png)no-repeat center;
                background-size: 1.1rem 1.9rem;
                transform: rotate(180deg);
            }
            &.next{
                background: url(../image/sub/iconNext.png)no-repeat center;
                background-size: 1.1rem 1.9rem;
            }
            &.last{
                background: url(../image/sub/iconLast.png)no-repeat center;
                background-size: 1.9rem 1.8rem;
            }
        }
    }
}

.part{
    &-wrap{
        margin-bottom: 4rem;
        *{
            font-size: 2.6rem;
            font-weight: $font-weight__b;
        }
        span{
            color:#ca1c1d;
        }
    }
}

.layer{
    display: none;
    margin: 0 -3rem;
    background: #f8f8fa;
    &__inner{
        padding:3rem;
        >div:not(.button-wrap){
            flex:1;
        }
        .title{
            margin-bottom: 2rem;
            font: {
                size:2.6rem;
                weight: 500;
            }
            i{
                display: block;
                width:3.5rem;
                height:3.5rem;
                margin-right: 1rem;
                background: #ca1c1d icon(iconLink)no-repeat center;
                background-size: 2.2rem 2rem;
                border-radius: 100%;
                flex:none;
            }
        }
        .content{
            @include text-overflow;
            font: {
                size:2.4rem;
                weight: 500;
            }
        }
        .button-wrap{
            button{
                width: auto;
                height:100%;
                padding:0 3rem;
                background: none;
                border:none;
            }
        }
    }
    &.top{
        display: block;
        margin-top: -6rem;
        margin-bottom: 6rem;
        .content{
            font-weight: normal;
            line-height:3.6rem;
        }
        .button-wrap{
            button{
                padding:0;
                font: {
                    size: 2.4rem;
                    weight: 400;
                }
                color: #747478;
                i{
                    display: block;
                    width: 1rem;
                    height: 1.8rem;
                    margin-left: 1.7rem;
                    background: url(../image/sub/iconArrowRight.png);
                    background-size: cover;
                }
            }
        }
    }
}

.modal{
    &-dialog{
        max-width: calc(100% - 6rem);
    }
    &-header{
        border-bottom:none;
        .modal-title{
            font: {
                size:3rem;
                weight:$font-weight__b;
            }
            line-height: 4.5rem;
        }
    }
    &-content{
        padding:6rem 4rem;
    }
    &-body{
        padding:0;
        .search{
            &-contest{
                height: 9rem;
                border:1px solid #000000;
                border-radius: .6rem;
                overflow: hidden;
                .form-wrap{
                    flex:1;
                    height:100%;
                    input{
                        height: 100%;
                        font-size: 2.4rem;
                        text-indent: 2rem;
                        &::placeholder{
                            color:#747478;
                        }
                    }
                }
                .button-wrap{
                    height:100%;
                    button{
                        height:100%;
                        padding:0 2rem;
                        border:none;
                    }
                }
                &__list{
                    margin-top: 2rem;
                    margin-bottom: 3rem;
                    .tit{
                        width:calc(100% + 6rem);
                        margin-left: -3rem;
                        background-color: #f8f8fa;
                        &__inner{
                            padding:1.5rem 3rem;    
                            font: {
                                size: 2.4rem;
                                weight:500;
                            }
                        }
                    }
                    ul{
                        margin: 0 -1rem;
                        li{
                            padding:3rem 0;
                            border-bottom: 1px solid #e5e7ee;
                            a{
                                @include text-overflow;
                                line-height: 3.6rem;
                                font-size: 2.4rem;
                                padding:0 0.5rem;
                            }
                            .keyword{
                                color: #ca1c1d;
                            }
                        }
                    }
                }
            }
            
        }
        .ps{
            margin-bottom: 6rem;
            font-size: 2rem;
            color:#747478;
            line-height: 2.9rem;
        }
    }
    &-footer{
        .button-wrap{
            width:100%;
            button{
                height: 9rem;
                font-size:2.6rem;
            }
        }
    }
}


.thinkTalk{
    &__inner{
        .bg-gray{
            background: #f8f8fa;
            // p{
            //     line-height: 4.5rem;
            //     font : {
            //         size: 3rem;
            //         weight: $font-weight__b;
            //     }
            // }
        }
        >div{
            padding:4rem 3rem;
            p{
                line-height: 3.6rem;
            }
        }
        .thinker {
            ul {
                margin:1.5rem 0;
                li {
                    @include display-flex;
                    @include align-center;
                    padding:1.5rem 0;
                    .num{
                        @include d-flex;
                        width: 5rem;
                        height: 5rem;
                        margin-right: 2rem;
                        background: #dd2525;
                        color:#ffffff;
                        border-radius: .6rem;
                        font-weight:500;
                        flex: none;
                    }
                    .name{
                        width: 8.55rem;
                        flex: none;
                        font-weight: 500
                        
                    }
                    .txt{
                        @include text-overflow;
                        color: #747478;
                        font-weight: 500;
                        flex:1;
                    }
                    .count{
                        @include d-flex;
                        font-size: 2rem;
                        color: #747478;
                        flex:none;
                        em{
                            width: 3.2rem;
                        }
                    }
                    i{
                        &.view{
                            display: block;
                            width: 2.1rem;
                            height: 1.4rem;
                            margin-right: 1rem;
                            background: icon(iconView)no-repeat center;
                            background-size: contain;
                        }
                    }
                    &:nth-child(2) .num {
                        background-color: rgba(221, 37, 37, 0.8);
                    }

                    &:nth-child(3) .num {
                        background-color: rgba(221, 37, 37, 0.6);
                    }

                    &:nth-child(4) .num {
                        background-color: rgba(221, 37, 37, 0.4);
                    }

                    &:nth-child(5) .num {
                        background-color: rgba(221, 37, 37, 0.2);
                    }
                }
            }
        }
    }
}


// 회원가입
.find{
    &-link{
        a, button{
            position:relative;
            display:block;
            +a, +button{
                padding-left:1rem;
                margin-left:1rem;
                &:before{
                    position:absolute;
                    top:50%;
                    left:0;
                    width:2px;height:70%;
                    background-color:#747478;
                    transform:translateY(-50%);
                    content:"";
                }
            }
        }
    }
}
.btn{
    &-sns{
        padding:3rem 4rem;
        color:#fff;
        i{
            position:relative;
            width:3.8rem;
            margin-right:4.4rem;
            background-position:center center;
            &:before{
                position:absolute;
                top:50%;right:-2.4rem;
                width:.2rem;
                height:90%;
                background-color:rgba(255, 255, 255, 0.3);
                transform:translateY(-50%);
                content:""
            }
        }
        &--naver{
            background-color:#26cc0a;
        }
        &--facebook{
            background-color:#527bd3;
        }
        &--kakao{
            background-color:#ffd900;
            color:#000;
            i{
                &:before{
                    background-color:rgba(0, 0, 0, 0.1)
                }
            }
        }
    }
}
