@import "./common";



/* 220225 디버깅 작업 */ 

.search-filter-list ul li{
    padding: .9rem 2rem .8rem;
    .del{
        background-size: 100%;
    }
}

.slideRight__inner.on{
    top: 15.7rem;
}

.filter-keywordResult__inner ul li{
    padding: .9rem 1.5rem;
}

.btnClick button{
    background-size: contain;
}

.filter, .scrapBtn button{
    color: #000000;
}

.filter-wrap{
    margin-top: -1.6px;
}

.view-comment .comment-list .button-wrap button, .view-comment .comment-list .comment-box__inner, .view-comment .comment-list li, .board-list__inner ul li{
    border-width: .2rem !important;
}

.layer.top .content{min-height: unset;}

.thinkgoodPick-list .swiper-container{height: 115.4rem;}
.thinkgoodPick-list .swiper-slide{width:40%;}
.thinkgoodPick-banner{
    .swiper-slide{
        height: auto;
        .img-wrap {
            max-height: none;
            img{
                height: auto; 
                max-height: none;
            }
        }
    }
} 

.share-button__sns{
    padding: 0 8%;
}
