@import "./common";


.search-filter-list ul li{
    padding: .9rem 2rem .8rem;
    .del{
        background-size: 100%;
    }
}

.slideRight__inner.on{
    top: 15.7rem;
}

.filter-keywordResult__inner ul li{
    padding: .9rem 1.5rem;
}

.btnClick button{
    background-size: contain;
}

.filter, .scrapBtn button{
    color: #000000;
}

.filter-wrap{
    margin-top: -1.6px;
}