@import "./common";

/* 부트스트랩 초기화 */
.container{
    padding:0;
    max-width: none;
    &__core{
        padding:0 3rem;
    }
}

.breadcrumb{
    margin:0;
    margin-top:-1px;
    padding:0;
    background: #ffffff;
    border-radius: 0;
    &__inner{
        padding: 1rem 0 2.6rem 3rem;
        font-size:2.4rem;
        font-weight: $font-weight__b;
        flex: 1;
        border-bottom: 1px solid #707070;;
    }
}


/* 씽굿광장 */ 
.search{
    &-right{
        flex:1;
        >div{
            flex:1;
            //border-bottom: 1px solid;
            &.w{
                &-220{
                    flex:none;
                    width:22rem;
                }
            }
        }
        select{
            width:100%;
            font-size:2.4rem;
            line-height: 100%;
            background: url(../image/common/icon/clamp__bottom.png) no-repeat right 10px center;
            border-bottom: 1px solid;
        }
        .form-search{
            border-bottom: 1px solid;
            input{
                flex:1;
            }
            &__click{
                height: 5rem;
                padding: 1rem 2.2rem;

                i{
                    width: 3.3rem;
                    height: 3.1rem;
                }
            }
        }
    }
}

.board{
    &-list{
        &__inner{
            ul{
                li{
                    padding:2rem 0;
                    border-bottom:2px solid #e5e7ee;
                }
            }
            .part{
                font-size:2rem;
                font-weight: 500;
                line-height: 2;
                span{
                    color:#ca1c1d;
                    font-weight: 500;
                }
            }
            .title{
                display: inline-block;
                //padding-top:1rem;
                font-size: 2.4rem;
                font-weight: $font-weight__m;
                line-height: 1.67;
            }
            .etc{
                line-height: 2;
                p{
                    line-height: 2;
                    color:#747478;
                    font-size: 2rem;
                    &+p{
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}

.paging{
    margin-top: 3rem;
    &__inner{
        a{
            width: 6rem;
            height: 6rem;
            font-size:2.2rem;
            &.on{
                color:#dd2525;
            }
        }
    }
}